---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import { SITE } from "@config";
import Main from "@layouts/Main.astro";
import CollectionPhotos from "@components/gallery/CollectionPhotos.svelte";

const { slug } = Astro.params;
---

<Layout title={`Gallery | ${SITE.title}`}>
  <Header activeNav="gallery" />
  <Main>
    <CollectionPhotos client:load slug={slug} />
  </Main>
</Layout>
