---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import { SITE } from "@config";
import Main from "@layouts/Main.astro";
import Collections from "@components/gallery/Collections.svelte";
---

<Layout title={`Gallery | ${SITE.title}`}>
  <Header activeNav="gallery" />
  <Main>
    <Collections client:load />
  </Main>
</Layout>
