---
import Layout from "@layouts/Layout.astro";
import Spinning from "@components/tmp/Spinning.vue";
---

<Layout title="Highlights 2026-06-12">
  <div class="h-screen w-screen">
    <Spinning />
  </div>
</Layout>
