---
import Layout from "@layouts/Layout.astro";
import FakeYoutube from "@components/tmp/FakeYoutube.vue";
---

<Layout title="Highlights 2026-06-12">
  <div class="h-screen w-screen">
    <FakeYoutube client:load />
  </div>
</Layout>
