---
import Layout from "@layouts/Layout.astro";
import FakeYoutube from "@components/tmp/FakeYoutube.vue";
---

<Layout title="Highlights 2026-06-12">
  <div class="min-h-[100svh] w-full overflow-hidden">
    <FakeYoutube client:load />
  </div>
</Layout>
