---
// import { profile } from "@data/profile";
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
// import TechTags from "@components/TechTags.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="about" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0 pt-8">
      <slot />
      <!-- <h2>Technologies</h2>
      <div class="not-prose">
        <TechTags />
      </div> -->
    </section>
  </main>
  <Footer />
</Layout>
